    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body, html {
      height: 100%;
      font-family: Arial, sans-serif;
    }

    .hero-section {
      min-height: 100vh;
      background-image: url("imagesHome/backgroundMOH.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }

    .content-box {
      width: 80%;
      max-width: 1000px;
      min-height: 500px;
      background-color: rgba(0, 0, 0, 0.85);
      color: white;
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
      text-align: center;
    }

    .content-box h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .content-box h2 {
      font-size: 3rem;
      margin-left: 5px;
      margin-bottom: 10px;
    }
    .content-box img {
      position: absolute;
      width: 30px;
      max-width: 100%;
      border-radius: 12px;
      margin-top: 10px;
    }
    
    .content-box p {
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
